@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* ------------------------- */
/* FOTO DO PERFIL            */
/* ------------------------- */

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px auto;
  display: block;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}


/* ------------------------- */
/* TEXTOS DO USUÁRIO         */
/* ------------------------- */

.info-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  justify-content: center;
}

.userinfo-text {
  font-family: "Montserrat", monospace;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 10px;
}

/* ------------------------- */
/* BOTÕES                    */
/* ------------------------- */

.btnGenerateQR {
  background-color: #0E6B4B
  ;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btnEditProfile {
  background-color: #c9cfd3;
  color: #27445B;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btnLogout {
  background-color: #e51a29;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px;
}

button:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
}

/* ------------------------- */
/* CONTÊINERES DE BOTÕES     */
/* ------------------------- */

.button-container {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.button-container-logout {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

/* ------------------------- */
/* RESPONSIVIDADE HOME       */
/* ------------------------- */

@media (max-width: 480px) {
  .profile-picture {
    width: 150px;
    height: 150px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
  }
}