/* ------------------------- */
/* BOTÕES PRINCIPAIS         */
/* ------------------------- */

/* Botão para acesso ao site ou plataforma web */
.btnWeb {
    background-color: #3788A6;
    color: #fff;
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Botão para iniciar contato via WhatsApp */
.btnWhatsApp {
    background-color: #25D366;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Botão para enviar ou abrir e-mail */
.btnEmail {
    background-color: #8E2927;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Botão de navegação para voltar à página anterior */
.btnVoltar {
    background-color: #27445B;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Botão para solicitar geração de QR Code */
.btnSolicitarQR {
    background-color: #27445B;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


/* ------------------------- */
/* ESTILOS GERAIS PARA BOTÃO */
/* ------------------------- */

button {
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px;
    width: 70%;
    max-width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Efeito de hover em qualquer botão */
button:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
}


/* ------------------------- */
/* CONTÊINER DOS BOTÕES      */
/* ------------------------- */

.button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}
